/** @format */
:root {
  --branding-color: #f3729a;
  --secondary-color: #000;
  --top-font-family: "Lobster", sans-serif;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
    text-align: center;
  }

  h3 {
    font-size: 26px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .btn-center {
    text-align: center;
  }

  .img-fluid {
    max-width: 100%;
  }

  body {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 30px;
    line-height: 1;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }
  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .btn-center {
    text-align: center;
  }

  .img-fluid {
    max-width: 100%;
  }

  body {
    margin: 0;
    padding: 0;
  }

  img {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.navbar-brand {
  padding: 10px;
  font-weight: 900;
  font-family: var(--top-font-family);
}

.auto-type {
  color: #f3729a;
}

nav {
  padding: 20px 0;
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
}

nav a {
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.hero {
  text-align: center;
  margin-top: 450px;
  margin-bottom: 450px;
  font-size: 20px;
  font-weight: 900;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: "Lobster", cursive;
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content h2 {
  font-size: 18px;
  font-family: var(--heading-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content-container {
  padding-bottom: 50px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: white;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
  padding: 15px 30px;
  margin-bottom: 60px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}

img {
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.contact-link:hover {
  color: #f3729a;
}

.work-link {
  text-decoration: none;
  color: #000;
  font-weight: 900;
}

.work-link:hover {
  color: #f3729a;
}

.footer-background {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
}

footer .social-links {
  padding: 20px;
}

footer .social-links a {
  color: var(--secondary-color);
  background: var(--branding-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
  padding: 10px 14px;
  margin: 10px;
}

footer .social-links a:hover {
  color: white;
  background: var(--secondary-color);
}

.last-thing {
  font-size: 10px;
  font-weight: 200;
  margin: auto 0;
}

.last-thing a {
  text-decoration: none;
  color: #f3729a;
  font-weight: 400;
}

.last-thing a:hover {
  font-weight: 600;
}
