/** @format */
:root {
  --branding-color: #f3729a;
  --secondary-color: #000;
  --top-font-family: "Lobster", sans-serif;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.navbar-brand {
  padding: 10px;
  font-weight: 900;
  font-family: var(--top-font-family);
}

.auto-type {
  color: #f3729a;
}

body,
html {
  height: 100%;
}

nav {
  padding: 20px 0;
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.hero {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: 900;
}

.about-section {
  padding: 160px 20px;
}
.about-section h1 {
  font-size: 50px;
  font-family: "Lobster", cursive;
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emphasis {
  font-size: 300px;
}

.about-section h2 {
  font-size: 30px;
  font-family: var(--heading-font-family);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: white;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
  padding: 15px 30px;
  margin-bottom: 60px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}

.about-section-content {
  font-family: (--heading-font-family);
}

img {
  border-radius: 20px;
}

footer {
  margin: 60px 0;
}

.footer-background {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
  padding: 30px;
  padding-top: 60px;
}

footer .contact-box {
  background: var(--branding-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  background: var(--branding-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--secondary-color);
}

.last-thing {
  font-size: 10px;
  font-weight: 200;
}

.last-thing a {
  text-decoration: none;
  color: #f3729a;
  font-weight: 600;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.project-desciption {
  padding: 120px 60px;
}
